.front-page {
  position: relative;
  text-align: center;
 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 89vh; 
    width: 100%;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--black-color);
  }

  .front-page img {
    
    width: 60%;
    height: auto; 
  }
  
  .overlay-text {
   position: absolute;
    text-align: start;
    font-size: 1rem;
    font-weight: bold;
    color: yellow;
    z-index: 1;
  }


  