.pre-book{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}

.prebook-btn{
    background-color: var(--yellow-color);
    color: var(--black-color);
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}

.prebook-btn:hover {
   font-weight: bold ;
   
}